/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #cecece;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #22252c;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8a8a8a;
}

.token.punctuation {
  color: #c8c8c5;
}

.namespace {
  opacity: 0.7;
}

.token.keyword,
.token.property,
.token.atrule,
.token.variable,
.token.attr-value,
.token.symbol,
.token.deleted {
  color: #ff6673;
}

.token.class,
.token.attr,
.token.attr-name,
.token.number,
.token.important {
  color: #ff8c49;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.boolean,
.token.constant,
.token.inserted {
  color: #70d175;
}

.token.operator {
  color: #42c5c5;
}

.token.url,
.token.function {
  color: #41b3ff;
}

.token.tag .token.tag,
.token.regex,
.token.entity {
  color: #ffd446;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
